<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>模拟考试</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color: #5bc0de">
    <div class="container">
        <a href="#" class="navbar-brand">logo</a>
        <ul class="nav navbar-nav">
            <li class=""><a href="#">首页</a></li>
            <li class="active"><a href="#">模拟考试</a></li>
            <li><a href="#">视频</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-push-9">
            <table border="1px" th:each="list:${topic}" th:object="${list}">
                <tr align="center">
                    <td width="30px" height="30px" onclick="huanTi(0)" id="0" style="cursor: pointer">1</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(1)" id="1">2</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(2)" id="2">3</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(3)" id="3">4</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(4)" id="4">5</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(5)" id="5">6</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(6)" id="6">7</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(7)" id="7">8</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(8)" id="8">9</td>
                    <td style="cursor: pointer" width="30px" onclick="huanTi(9)" id="9">10</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(10)" id="10">11</td>
                    <td style="cursor: pointer" onclick="huanTi(11)" id="11">12</td>
                    <td style="cursor: pointer" onclick="huanTi(12)" id="12">13</td>
                    <td style="cursor: pointer" onclick="huanTi(13)" id="13">14</td>
                    <td style="cursor: pointer" onclick="huanTi(14)" id="14">15</td>
                    <td style="cursor: pointer" onclick="huanTi(15)" id="15">16</td>
                    <td style="cursor: pointer" onclick="huanTi(16)" id="16">17</td>
                    <td style="cursor: pointer" onclick="huanTi(17)" id="17">18</td>
                    <td style="cursor: pointer" onclick="huanTi(18)" id="18">19</td>
                    <td style="cursor: pointer" onclick="huanTi(19)" id="19">20</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(20)" id="20">21</td>
                    <td style="cursor: pointer" onclick="huanTi(21)" id="21">22</td>
                    <td style="cursor: pointer" onclick="huanTi(22)" id="22">23</td>
                    <td style="cursor: pointer" onclick="huanTi(23)" id="23">24</td>
                    <td style="cursor: pointer" onclick="huanTi(24)" id="24">25</td>
                    <td style="cursor: pointer" onclick="huanTi(25)" id="25">26</td>
                    <td style="cursor: pointer" onclick="huanTi(26)" id="26">27</td>
                    <td style="cursor: pointer" onclick="huanTi(27)" id="27">28</td>
                    <td style="cursor: pointer" onclick="huanTi(28)" id="28">29</td>
                    <td style="cursor: pointer" onclick="huanTi(29)" id="29">30</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(30)" id="30">31</td>
                    <td style="cursor: pointer" onclick="huanTi(31)" id="31">32</td>
                    <td style="cursor: pointer" onclick="huanTi(32)" id="32">33</td>
                    <td style="cursor: pointer" onclick="huanTi(33)" id="33">34</td>
                    <td style="cursor: pointer" onclick="huanTi(34)" id="34">35</td>
                    <td style="cursor: pointer" onclick="huanTi(35)" id="35">36</td>
                    <td style="cursor: pointer" onclick="huanTi(36)" id="36">37</td>
                    <td style="cursor: pointer" onclick="huanTi(37)" id="37">38</td>
                    <td style="cursor: pointer" onclick="huanTi(38)" id="38">39</td>
                    <td style="cursor: pointer" onclick="huanTi(39)" id="39">40</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(40)" id="40">41</td>
                    <td style="cursor: pointer" onclick="huanTi(41)" id="41">42</td>
                    <td style="cursor: pointer" onclick="huanTi(42)" id="42">43</td>
                    <td style="cursor: pointer" onclick="huanTi(43)" id="43">44</td>
                    <td style="cursor: pointer" onclick="huanTi(44)" id="44">45</td>
                    <td style="cursor: pointer" onclick="huanTi(45)" id="45">46</td>
                    <td style="cursor: pointer" onclick="huanTi(46)" id="46">47</td>
                    <td style="cursor: pointer" onclick="huanTi(47)" id="47">48</td>
                    <td style="cursor: pointer" onclick="huanTi(48)" id="48">49</td>
                    <td style="cursor: pointer" onclick="huanTi(49)" id="49">50</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(50)" id="50">51</td>
                    <td style="cursor: pointer" onclick="huanTi(51)" id="51">52</td>
                    <td style="cursor: pointer" onclick="huanTi(52)" id="52">53</td>
                    <td style="cursor: pointer" onclick="huanTi(53)" id="53">54</td>
                    <td style="cursor: pointer" onclick="huanTi(54)" id="54">55</td>
                    <td style="cursor: pointer" onclick="huanTi(55)" id="55">56</td>
                    <td style="cursor: pointer" onclick="huanTi(56)" id="56">57</td>
                    <td style="cursor: pointer" onclick="huanTi(57)" id="57">58</td>
                    <td style="cursor: pointer" onclick="huanTi(58)" id="58">59</td>
                    <td style="cursor: pointer" onclick="huanTi(59)" id="59">60</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(60)" id="60">61</td>
                    <td style="cursor: pointer" onclick="huanTi(61)" id="61">62</td>
                    <td style="cursor: pointer" onclick="huanTi(62)" id="62">63</td>
                    <td style="cursor: pointer" onclick="huanTi(63)" id="63">64</td>
                    <td style="cursor: pointer" onclick="huanTi(64)" id="64">65</td>
                    <td style="cursor: pointer" onclick="huanTi(65)" id="65">66</td>
                    <td style="cursor: pointer" onclick="huanTi(66)" id="66">67</td>
                    <td style="cursor: pointer" onclick="huanTi(67)" id="67">68</td>
                    <td style="cursor: pointer" onclick="huanTi(68)" id="68">69</td>
                    <td style="cursor: pointer" onclick="huanTi(69)" id="69">70</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(70)" id="70">71</td>
                    <td style="cursor: pointer" onclick="huanTi(71)" id="71">72</td>
                    <td style="cursor: pointer" onclick="huanTi(72)" id="72">73</td>
                    <td style="cursor: pointer" onclick="huanTi(73)" id="73">74</td>
                    <td style="cursor: pointer" onclick="huanTi(74)" id="74">75</td>
                    <td style="cursor: pointer" onclick="huanTi(75)" id="75">76</td>
                    <td style="cursor: pointer" onclick="huanTi(76)" id="76">77</td>
                    <td style="cursor: pointer" onclick="huanTi(77)" id="77">78</td>
                    <td style="cursor: pointer" onclick="huanTi(78)" id="78">79</td>
                    <td style="cursor: pointer" onclick="huanTi(79)" id="79">80</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(80)" id="80">81</td>
                    <td style="cursor: pointer" onclick="huanTi(81)" id="81">82</td>
                    <td style="cursor: pointer" onclick="huanTi(82)" id="82">83</td>
                    <td style="cursor: pointer" onclick="huanTi(83)" id="83">84</td>
                    <td style="cursor: pointer" onclick="huanTi(84)" id="84">85</td>
                    <td style="cursor: pointer" onclick="huanTi(85)" id="85">86</td>
                    <td style="cursor: pointer" onclick="huanTi(86)" id="86">87</td>
                    <td style="cursor: pointer" onclick="huanTi(87)" id="87">88</td>
                    <td style="cursor: pointer" onclick="huanTi(88)" id="88">89</td>
                    <td style="cursor: pointer" onclick="huanTi(89)" id="89">90</td>
                </tr>
                <tr align="center">
                    <td style="cursor: pointer" height="30px" onclick="huanTi(90)" id="90">91</td>
                    <td style="cursor: pointer" onclick="huanTi(91)" id="91">92</td>
                    <td style="cursor: pointer" onclick="huanTi(92)" id="92">93</td>
                    <td style="cursor: pointer" onclick="huanTi(93)" id="93">94</td>
                    <td style="cursor: pointer" onclick="huanTi(94)" id="94">95</td>
                    <td style="cursor: pointer" onclick="huanTi(95)" id="95">96</td>
                    <td style="cursor: pointer" onclick="huanTi(96)" id="96">97</td>
                    <td style="cursor: pointer" onclick="huanTi(97)" id="97">98</td>
                    <td style="cursor: pointer" onclick="huanTi(98)" id="98">99</td>
                    <td style="cursor: pointer" onclick="huanTi(99)" id="99">100</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9 col-sm-pull-3">
            <table >
                <tr>
                    <td colspan="3">
                        <p><span id="timu" style="font-size: 25px; font-weight: bolder"></span></p>
                    </td>
                    <td>
                        <p id="img"></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 20px; font-weight: inherit">
                        <p id="ryi">&nbsp;&nbsp;&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 20px; font-weight: inherit">
                        <p id="rer">&nbsp;&nbsp;&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 20px; font-weight: inherit">
                        <p id="rsan">&nbsp;&nbsp;&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="font-size: 20px; font-weight: inherit">
                        <p id="rsi">&nbsp;&nbsp;&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p><span id="answer">
                            &nbsp;&nbsp;
                            <input type="hidden" class="hiddena" value="恭喜你，答对了！" id="yes" style="background-color:#67b168;width: 150px;height: 50px; font-weight: normal;font-size: 17px;color: green;">
                            <input type="hidden" class="hiddena" value="您答错了！正确答案是：" id="no" style="background-color:pink;width: 250px;height: 50px; font-weight: normal;font-size: 17px;color: red;">
                        </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p>
                            <input type="button" onclick="shang()" value="上一题" style="background-color:green;width: 150px;height: 50px; font-weight: normal;font-size: 17px; color: white;border: none;border-radius: 5px">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="button" onclick="xia()" value="下一题" style="background-color:green;width: 150px;height: 50px; font-weight: normal;font-size: 17px; color: white;border: none;border-radius: 5px">
                        </p>
                    </td>
                </tr>
                <tr>
                    <!--<td></br></br></br></br></br></td>-->
                    <td colspan="4">
                        <p style="font-size: 20px">答对：<span id="dui">0</span>题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答错：<span id="cuo">0</span>题&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;正确率：<span id="lv">0.00</span>%</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/KaoShi.js"></script>
<script type="text/javascript" th:inline="javascript">
    //记录答题总数量
    var num=0;
    var cuo=0;
    var dui=0;
    var an=10;
    var dex=0;
    var topic = [[${topic}]];
    var topic = JSON.parse(topic);
    $(function(){
        $.each(topic,function(index,result) {
            if(index==dex){
                var titou=dex+1;
                $("#timu").html(titou+"."+result.topicName);
                if(result.topicImg!=null){
                    $("#img").html('<img src="'+result.topicImg+'" width="300px" height="150px"/>')
                }
                $.each(result.listanswer,function(index1,result1){
                    if(result1.answerCode==1){
                        an=index1;
                    }
                    switch (index1){
                        case 0 :
                            $("#ryi").append('<input type="radio" name="radio" onclick="dati('+result1.answerCode+','+index+')"/>');
                            $("#ryi").append("A："+result1.answerVal);
                            break;
                        case 1 :
                            $("#rer").append('<input type="radio" name="radio" onclick="dati('+result1.answerCode+','+index+')"/>');
                            $("#rer").append("B："+result1.answerVal);
                            break;
                        case 2 :
                            $("#rsan").append('<input type="radio" name="radio" onclick="dati('+result1.answerCode+','+index+')"/>');
                            $("#rsan").append("C："+result1.answerVal);
                            break;
                        case 3 :
                            $("#rsi").append('<input type="radio" name="radio" onclick="dati('+result1.answerCode+','+index+')"/>');
                            $("#rsi").append("D："+result1.answerVal);
                            break;
                    }
                })
            }
        })
    })

</script>
</body>
</html>