<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线报名</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var userName=$("#userName").val();
            var userAge=$("#userAge").val();
            var userSex=$("#userSex").val();
            var userNum=$("#userNum").val();
            var userTel=$("#userTel").val();
            var userDate=$("#userDate").val();
            var userAddress=$("#userAddress").val();
            var userCountry=$("#userCountry").val();
            var uservaluecarId=$("#uservaluecarId").val();
            var uservalueId=$("#uservalueId").val();
            $("#uservaluecarId").change(function () {
                var license = $("#uservaluecarId").find("option:selected").text();
               $("#uservalueId").empty();
                $.get('/queryClass', 'license=' + license, function (result) {
                    $("#uservalueId").append("<option value='-1'>--请选择--</option>");
                    $.each(result, function (index,d) {
                        $("#uservalueId").append("<option value='" + d.feesid + "'>" + d.classType + "</option>");
                    });
                })
            });

            $("#SaveButton").click(function () {
                var userName=$("#userName").val();
                var userAge=$("#userAge").val();
                var userSex=$("#userSex").val();
                var userNum=$("#userNum").val();
                var userTel=$("#userTel").val();
                var userDate=$("#userDate").val();
                var userAddress=$("#userAddress").val();
                var userCountry=$("#userCountry").val();
                var uservaluecarId=$("#uservaluecarId").val();
                var uservalueId=$("#uservalueId").val();

                if (userName == null || userName == '') {
                    $("#point").modal("show");
                    $("#prompt").html("姓名不能为空!");
                    return;
                }
                if (userAge == null || userAge == '') {
                    $("#point").modal("show");
                    $("#prompt").html("年龄不能为空!");
                    return;
                }
                if (userAge <18) {
                    $("#point").modal("show");
                    $("#prompt").html("年龄必须大于18周岁,方可报名!");
                    return;
                }
                if (userSex == "-1") {
                    $("#point").modal("show");
                    $("#prompt").html("请选择性别!");
                    return;
                }
                if (userNum == null || userNum == '') {
                    $("#point").modal("show");
                    $("#prompt").html("身份证件不能为空");
                    return;
                }
                var reg=/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/;
                if(!reg.test(userNum)) {
                    $("#point").modal("show");
                    $("#prompt").html("身份证错误请重新输入");
                    return;
                }
                /*if (userNum.length() != 18) {
                    alert("身份证错误请重新输入!");
                }*/
                if (userTel == null || userTel == '') {
                    $("#point").modal("show");
                    $("#prompt").html("联系电话不能为空");
                    return;
                }
              var tel=/^1(3[0-9]|5[012356789]|7[678]|8[0-9]|4[57])[0-9]{8}$/;
                if(!tel.test(userTel)){
                    $("#point").modal("show");
                    $("#prompt").html("联系电话输入错误");
                    return;
                }

                if (userDate == null || userDate == '') {
                    $("#point").modal("show");
                    $("#prompt").html("出生日期不能为空");
                    return;
                }
                if (userAddress == null || userAddress == '') {
                    $("#point").modal("show");
                    $("#prompt").html("家庭住址不能为空");
                    return;
                }
                if (uservaluecarId == "-1") {
                    $("#point").modal("show");
                    $("#prompt").html("请选择预考驾照类型");
                    return;
                }
                if (uservalueId == "-1") {
                    $("#point").modal("show");
                    $("#prompt").html("请选择班型");
                    return;
                }

                var data=$("#SaveForm").serialize();
                $.post("/doSaveUser",data,function (result) {
                    if (result == 'ok') {
                        $("#point").modal("show");
                        $("#prompt").html("报名成功");
                    } else {
                        $("#point").modal("show");
                        $("#prompt").html("报名失败");
                    }
                })
            });
        })
    </script>


</head>
<body>





<div class="row">

    <div class="col-md-12 ">
        <form id="SaveForm">
            <div class="form-group">
                <label for="userName">姓名</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="姓名" style="text-align: center">
                <span style="color: red">账号登陆唯一标识,以经填写不可修改,请牢记</span>
            </div>
            <div class="form-group">
                <label for="userAge">年龄</label>
                <input type="userAge" class="form-control" id="userAge" name="userAge" placeholder="年龄" style="text-align: center">
            </div>
            <div class="form-group">
                <label for="userSex">性别</label>
                  <div ><select name="userSex" id="userSex" style="height: 30px;width: 100%;text-align:center;text-align-last:center" class="col-md-12">
                        <option value="-1">--请选择--</option>
                        <option value="男" >男</option>
                        <option value="女" >女</option>
                    </select>
                  </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="userNum">身份证号</label>
                <input type="text" class="form-control" id="userNum" name="userNum" placeholder="身份证号" style="text-align: center">
            </div>
            <div class="form-group">
                <label for="userTel">手机号</label>
                <input type="text" class="form-control" id="userTel" name="userTel" placeholder="手机号(暂不支持固定电话)" style="text-align: center">
            </div>
            <div class="form-group">
                <label for="userDate">出生日期</label>
                <input type="text" class="form-control" id="userDate" name="userDate" placeholder="出生日期(yyyy-MM-dd)" style="text-align: center">
            </div>
            <div class="form-group">
                <label for="userAddress">用户地址</label>
                <input type="text" class="form-control" id="userAddress" name="userAddress" placeholder="用户地址" style="text-align: center">
                <span style="color: red">这是班车接送地址,请填写现住址</span>
            </div>
            <div class="form-group">
                <label for="userCountry">国籍</label>
                <input type="text" class="form-control" id="userCountry" name="userCountry" value="中国" disabled="disabled" style="text-align: center">
                <span style="color: red">其他国家暂未开放</span>
            </div>
            <div class="form-group">
                <label for="uservaluecarId">预报驾照类型</label>
                <div ><select name="uservaluecarId" id="uservaluecarId"  style="height: 30px;width: 100%;text-align:center;text-align-last:center" class="col-md-12">
                    <option value="-1">--请选择--</option>
                   <span th:each="list:${driver}" th:object="${list}">
                        <option th:value="*{valueId}"  th:text="*{valueName}"></option>
                    </span>
                </select>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="uservalueId">报名类型</label>
                <div ><select name="uservalueId" id="uservalueId" style="height: 30px;width: 100%;text-align:center;text-align-last:center" class="col-md-12" >
                    <option value="-1">--请选择--</option>
                </select>
                    <span style="color: red">详情请对照班型及价格介绍</span>
                </div>
            </div>
            <br>
            <br>
          <center><button type="button" class="btn-group btn-group-justified" role="group" id="SaveButton">报名</button></center>
            <br>
            <br>
            <br>
        </form>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="point">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">信息提示</h4>
                </div>
                <div class="modal-body" id="prompt">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
</body>
</html>