<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/js/css/bootstrap.css">
    <script src="/js/js/bootstrap.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>新东方驾校管理平台</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="#">菜单</a></li>
                <li role="presentation"><a href="http://localhost:8083/school/queryAllcoach" target="main">教练管理</a></li>
                <li role="presentation"><a href="http://localhost:8083/user/queryAllUser"  target="main">学员管理</a></li>
                <li role="presentation"><a href="#" target="main">约车管理</a></li>
                <li role="presentation"><a href="http://localhost:8083/topic/queryAllTopic" target="main">刷题管理</a></li>
                <li role="presentation"><a href="http://localhost:8083/car/queryAllCar" target="main">车辆管理</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <iframe  frameborder="yes" scrolling="true" name="main" width="100%" height="800">
                欢迎使用新东方驾校管理平台
            </iframe>
        </div>
    </div>
</div>




</body>
</html>