<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.dao.UserMapper">
    <select id="login" resultType="User" parameterType="User">
        SELECT * FROM `user` WHERE
userTel=#{userTel}
AND userpassword=#{userPassword} and userroles=1 and userType=2
    </select>
    <select id="queryUserJD" resultType="User" parameterType="int">
      SELECT * FROM USER
WHERE userJingDu=2 AND userId=#{userId}
    </select>
</mapper>